<!DOCTYPE html>
<html>
<head>
    <title>Regex Detective - {{title}}</title>
    <meta name="description" content="the fun way to learn about regular expressions, come and play!"/>
    <meta property="og:title" content="Regex Detective" />
    <meta property="og:description" content="a fun way to learn about regular expressions" />
    <meta property="og:image" content="/images/openGraphLogo.png" />

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css.map'/>
    <!--<link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>-->
    <!--<link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>-->
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css.map'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/stylesheets/mystyleLESS.css'/>
    {{#if isAdmin}}
        <link rel='stylesheet' href='/stylesheets/bootstrap-switch.min.css'/>{{/if}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/global.js"></script>
    <style>
            {{customStyle}}
    </style>
</head>
<body class="{{pageClass}}">
<div id="fixedAlertMsg">

    <!--<div id="inner-fixedAlertMsg" class="alert alert-warning">-->
    <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
    <!--<span class="glyphicon glyphicon-exclamation-sign" style="font-size: 1.8em; float: left;" aria-hidden="true"></span>-->
    <!--<p>This version of the Regex Detective app is in constant development and being so, is subject to many bugs and-->
    <!--extensive downtime. Feel free to use the site and please use the form on the left to submit feedback :)</p>-->
    <!--</div>-->
    <!--njd455<span>null</span>@<span>null</span>bham<span>null</span>.ac.uk</p>-->

</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="logo img-responsive" src="/images/logo-2x.png" alt="nav-logo"/>
            <h1 style="margin: 0" class="navbar-brand"><a href="/">Regex Detective</a>
                <small>&nbsp;&nbsp;the fun way to learn regular expressions</small>
            </h1>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav homepage">
                <li class="userId">Hi&nbsp;{{givenName}}!&nbsp;&nbsp;<span
                        class="glyphicon glyphicon-user"></span></li>
                <!--<li {{#if isHome}}class="active"{{/if}}><a href="/">Home</a></li>-->
                <li {{#if isLevels}}class="active"{{/if}}><a href="/levels">Levels</a></li>
                <li {{#if isProgen}}class="active"{{/if}}><a href="/levels/progen">Arcade</a></li>
                <li {{#if isStats}}class="active"{{/if}}><a href="/stats">Stats</a></li>
                {{#if isAdmin}}<li class="active"><a href="/stats">Admin</a></li>{{/if}}
{{#if isLoggedOut}}<li><a href="/logout">Login</a></li>{{else}}<li><a href="/login">Logout</a></li>{{/if}}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div id="main-content">
    {{{body}}}
</div>
<footer class="footer">
    <div class="feedback-btn-container">
        <div id="give-feedback">
            <a href="#">Give feedback</a>
        </div>
    </div>
    <div class="container">
        <p class="text-muted">Regex Detective 2015 - University of Birmingham MSc Summer project</p>
    </div>
</footer>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $('#give-feedback').on('click', function () {
            var btn = $(this);
            $.get('/feedback-form.html', function (form) {
                btn.popover({
                    html: true,
                    content: form,
                    placement: 'right',
//                    container: 'body',
                    selector: '#give-feedback',
                    title: 'Feedback' + '<span style=\"float: right; cursor: pointer;\" onclick=\"$(&quot;#give-feedback&quot;).popover(&quot;hide&quot;)\">&times;</span>',
                    trigger: 'click'
                }).popover('show');
            })
        })
    })


</script>
</html>


